<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <img src="https://loremflickr.com/80/60" alt="logo" />
       <!--      <img src="https://loremflickr.com/60/60?random=2" alt="logo" />
            <img src="https://loremflickr.com/60/60?random=3" alt="logo" /> -->
        </a>
    </span>
    <span>
        <a class="title-grup">
            <i class="material-icons">
                home
            </i>
            Aplicação CRUD
        </a>
    </span>
</mat-toolbar>
